body, html {
    margin: 0;
}
.page {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    max-width: 728px;
    font-size: 1.4em;
    margin: 0 1em;
}
.title a {
    color: #000;
}
pre {
  padding: 1em;
  border: 1px dashed #2f6fab;
  background-color: #f9f9f9;
  overflow-x: auto;
}
