body, html {
    margin: 0;
}
.page {
    max-width: 728px;
    margin: 0 1em;
    line-height: 1.5em;
    color: #333;
}
.title a {
    color: #333;
}
pre {
  padding: 1em;
  border: 1px dashed #2f6fab;
  background-color: #f9f9f9;
  overflow-x: auto;
}
img {
  max-width: 100%;
}
